<div class="px-10">
  <h1 class="text-lg font-bold">About</h1>
  <p class="text-sm">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque nam
    repudiandae omnis, repellendus ipsum alias iusto velit voluptates fuga modi
    fugiat nihil a quaerat provident mollitia incidunt cumque, quidem voluptate.
  </p>
  <p class="text-sm">
    Number of customers
    @if (duration() > 0) {
    <app-counter [duration]="duration()" [message]="message()" />
    }
  </p>
  <div>
    <app-wave-audio audioUrl="assets/audio.mp3"/>
  </div>
</div>
